.sp-thongbao {
  color: red;
  margin-left: 2px; 
  display: none
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#btnTimNV{
  cursor: pointer
}

.myCardHeader, .myCardFooter{
	background-color: transparent;       
}
.none{
  display: none
}
.block {
  display: block
}
.myTable thead tr{
  position: relative
}
.myTable thead th:last-child{
  cursor:pointer
}
.control__staff {
  position:absolute;
  width: 5%;
  height: 40px;
  right: 0%;
  bottom:20%;
  opacity: 0
}
.unlock{
  opacity: 1
}
.fix__staff:hover,.delete__staff:hover{
  border: 1px solid rgb(201, 198, 198)
}